.container, .logo_container, .nav__list {
  display: flex;
  align-items: center;
}

.container {
  justify-content: space-between;
  padding: 2rem 8rem;
}

.turn-white {
  filter: brightness(0) invert(); 
}

.logo_container, .nav__purematch_btn {
  position: fixed;
  z-index: 5;
}

.logo_container {
  top: 1.4rem;
}

.logo__name {
  color: var(--primary-color);
  font-weight: normal;
  font-size: 2.4rem;
  transition: .5s;
}

.nav_container {
  position: absolute;
  top: 3.5rem;
  left: 56vw;
}

.nav__list {
  justify-content: space-evenly;
  gap: 4rem;
}

.nav__item {
  color: #93959d;
  font-size: 1.8rem;
  font-weight: 600;
}

.nav__donate_link {
  display: flex;
  align-items: center;
  gap: 1ch;
  color: #ff004a;
}

.nav__purematch_btn {
  top: 2.6rem;
  left: 85vw;
  color: #fcfcfc;
  background-color: var(--primary-color);
  padding: .8rem 1.6rem;
  border-radius: 8px;
  transition: .5s;
}